# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Proc Gen E21.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\dange\OneDrive - City, University of London\Programming\Unity\Proc Gen E21\.idea\.idea.Proc Gen E21\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
